@font-face {
  font-family: 'FontAwesome';
  src: url('http://rsdn.org/Content/font-awe/fontawesome-webfont.eot');
  src: url('http://rsdn.org/Content/font-awe/fontawesome-webfont.eot') format('embedded-opentype'), url('http://rsdn.org/Content/font-awe/fontawesome-webfont.svg') format('svg'), url('http://rsdn.org/Content/font-awe/fontawesome-webfont.woff') format('woff'), url('http://rsdn.org/Content/font-awe/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.format {
  /* Base style */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  /* Links */
  /* Foldable structures*/
  /* Image */
  /* Quotes */
  /* Code */
  /* Headers */
  /* HR*/
  /* Other stuff */
  /* Emoticons */
  /* Quotas */
  /* Table */
  /* New quotas */
}
.format a {
  color: #4682b4;
  text-decoration: none;
  border-bottom: 1px solid rgba(70, 130, 180, 0.4);
  -webkit-transition: color 0.4s ease-in-out 0s;
  -moz-transition: color 0.4s ease-in-out 0s;
  -o-transition: color 0.4s ease-in-out 0s;
  transition: color 0.4s ease-in-out 0s;
}
.format a:hover,
.format a:visited:hover {
  color: #d23232;
  border-bottom-color: rgba(210, 50, 50, 0.4);
}
.format a:visited {
  color: #b40eb4;
  border-bottom-color: #b40eb4;
}
.format .block-name {
  font-weight: bold;
}
.format .block-name:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #216184;
  font-size: 16px;
  margin-right: 4px;
  vertical-align: middle;
}
.format .foldable p {
  margin-top: 0;
}
.format .foldable .block-name {
  cursor: pointer;
}
.format .foldable .block-name:before {
  content: '\f147';
}
.format .foldable .block-name + * {
  border-left: 3px solid #65a7cb;
  padding-left: 6px;
  margin-left: 4px;
}
.format .foldable.folded .block-name:before {
  content: '\f196';
}
.format .foldable.folded .block-name + * {
  display: none;
}
.format .image .block-name:before {
  content: '\f03e';
}
.format .foldable.image .block-name:before {
  content: '\f147  \f03e';
}
.format .foldable.image.folded .block-name:before {
  content: '\f196  \f03e';
}
.format blockquote {
  background-color: #ffffe7;
  margin: 6px 30px 6px 30px !important;
  border: 1px solid #f2d473 !important;
  border-left-width: 4px !important;
  padding: 5px 10px 5px 10px;
}
.format blockquote:before {
  display: block;
  height: 12px;
  margin-top: -12px;
  content: "“";
  margin-left: -50px;
  font: italic 64px Cochin, Georgia, "Times New Roman", serif;
  color: #f2d473;
}
.format blockquote p {
  margin-top: -2px;
  margin-bottom: 0;
}
.format .foldable.quote .block-name:before {
  content: '\f147  \f10d';
}
.format .foldable.quote.folded .block-name:before {
  content: '\f196  \f10d';
}
.format .code {
  white-space: pre;
  background-color: #efeff2;
  font-family: Consolas, "Courier New", Courier, monospace;
  border: 1px solid #D0D0D0 !important;
  padding: 2px 10px;
  overflow: visible;
}
.format div.code {
  border-left-width: 4px !important;
  margin: 4px 30px 4px 30px !important;
}
.format div.code:before {
  display: block;
  height: 12px;
  margin-top: -4px;
  content: "</>";
  margin-left: -46px;
  font: bold 16px Cochin, Georgia, "Times New Roman", serif;
  color: #D0D0D0;
}
.format span.code {
  display: inline;
}
.format div.foldable.code-box .block-name:before {
  content: '\f147  \f121';
}
.format div.foldable.code-box.folded .block-name:before {
  content: '\f196  \f121';
}
.format h1,
.format h2,
.format h3,
.format h4,
.format h5,
.format h6 {
  text-align: left;
  color: #216184;
}
.format h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 6px;
}
.format h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.format h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 4px;
}
.format h4 {
  font-size: 16px;
  margin-left: 0.1em;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;
}
.format h5 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
}
.format h6 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
}
.format hr {
  display: block;
  border-color: #65a7cb;
}
.format .tagline {
  color: #d3acac;
  margin: 4px;
}
.format .moderator {
  padding: 2px;
  color: #800000;
  border: 1px solid #800000;
  background-color: #ffcccc;
  margin: 4px;
}
.format .emoticon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(smiles.png);
}
.format .emoticon.smile {
  background-position-x: 0px;
}
.format .emoticon.biggrin {
  background-position-x: -15px;
}
.format .emoticon.lol {
  background-position-x: -30px;
}
.format .emoticon.frown {
  background-position-x: -45px;
}
.format .emoticon.wink {
  background-position-x: -60px;
}
.format .emoticon.smirk {
  background-position-x: -75px;
}
.format .emoticon.confused {
  background-position-x: -90px;
}
.format .quota {
  color: #c1e5b9;
}
.format .quota .quota-prefix {
  font-weight: bold;
  margin-right: 4px;
}
.format .quota.level1 {
  color: #137900;
}
.format .quota.level1 .quota-prefix:after {
  content: '>';
}
.format .quota.level2 {
  color: #74b967;
}
.format .quota.level2 .quota-prefix:after {
  content: '>>';
}
.format .quota.level3 {
  color: #9fd095;
}
.format .quota.level3 .quota-prefix:after {
  content: '>>>';
}
.format .quota.level4 .quota-prefix:after {
  content: '>>>>';
}
.format .quota.level5 .quota-prefix:after {
  content: '>>>>>';
}
.format .quota.level6 .quota-prefix:after {
  content: '>>>>>>';
}
.format .quota.level7 .quota-prefix:after {
  content: '>>>>>>>';
}
.format .quota.level8 .quota-prefix:after {
  content: '>>>>>>>>';
}
.format .quota.level9 .quota-prefix:after {
  content: '>>>>>>>>>';
}
.format .quota.level10 .quota-prefix:after {
  content: '>>>>>>>>>>';
}
.format .quota.level11 .quota-prefix:after {
  content: '>>>>>>>>>>>';
}
.format .quota.level12 .quota-prefix:after {
  content: '>>>>>>>>>>>>';
}
.format .quota.level13 .quota-prefix:after {
  content: '>>>>>>>>>>>>>';
}
.format .quota.level14 .quota-prefix:after {
  content: '>>>>>>>>>>>>>>';
}
.format .quota.level15 .quota-prefix:after {
  content: '>>>>>>>>>>>>>>>';
}
.format .quota.level-max .quota-prefix:after {
  content: '>…>';
}
.format table {
  border: 1px solid #65a7cb;
  border-spacing: 0;
}
.format table tr.even {
  background-color: #efeff2;
}
.format table tr:hover {
  background-color: #cfe5f0;
}
.format table th {
  color: white;
  background-color: #65a7cb;
}
.format table th,
.format table td {
  padding: 4px;
}
.format .reply-quota {
  background-color: #ecfce8;
  color: #137900;
  border: 1px solid #137900;
  padding: 4px;
  margin: 4px;
  margin-left: 8px;
  font-size: .95em;
}
.format .reply-quota[data-prefix]:before {
  display: block;
  font-weight: bold;
  content: attr(data-prefix) ':';
}
/*# sourceMappingURL=rsdn.format.css.map */